<% provide(:title, 'Contact') %>
<div class="container">
	<h1>Contact</h1>
	<p>
  		Press the button 'Email/Call Travel Match' to send us email:
	</p>
	<p>
  		<button class="btn btn-lg btn-default"><a href="mailto:IrinaKalashnikova@gmail.com"><span class="glyphicon glyphicon-send"></span> Email Travel Match </a></button>
	</p>
	<p>
  		<button class="btn btn-lg btn-default"><a href="callto:1111111"><span class="glyphicon glyphicon-earphone"></span> Call Travel Match </a></button>
	</p>
</div>