<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Press the button 'Contact Travel Match' to send us email:
</p>
<p>
  <button class="transBG"><a href="mailto:IrinaKalashnikova@gmail.com">Contact Travel Match</button>
</p>