<% provide(:title, 'Contact') %>
<div class="container">
	<h1>Contact</h1>
	<div class="thumbnail">
		<p>
	  		Press the button 'Email/Call Travel Match' to send us email:
		</p>
		<p>
	  		<button class="btn btn-lg btn-default"><a href="mailto:IrinaKalashnikova@gmail.com"><span class="glyphicon glyphicon-send"></span> Email Travel Match </a></button>
		</p>
		<p>
	  		<button class="btn btn-lg btn-default"><a href="callto:+14159874354"><span class="glyphicon glyphicon-earphone"></span> Call Travel Match </a></button>
		</p>

		<p> We'll do our best to answer your query instantly or in a couple of hours. </p>
		<p> In some cases it will take longer, but no longer than 2 working days. Thank you for your patience.</p>
	</div>

</div>