<% provide(:title, "Help") %>
<div class="container">
	<h1>Help Center</h1>
	<div class="thumbnail">
			<h3 class="center">How it Works? </h3>
			<hr>
			<p>
			 	Whether you’re traveling or plannit to travel, we’re here for you before, during, and after your experience. We've answered the most common questions about Travel Match in our Help Center, and for everything else you can contact us by visiting <%= link_to "Contact", contact_path %> . 
			</p>
	</div>

	<div class="thumbnail">
		<h3 class="center"> Get Started with Travel Match </h3>
		<hr>
		<p>
		 	When you sign up for Travel Match, you're signing up for a Travel Match Account. Travel Match is completely free. You don't have to pay for filters, POP or special webmail options. To get started, all you need is to visit <a href="https://neo4jheroku.herokuapp.com/signup"> https://neo4jheroku.herokuapp.com/signup </a> . Enjoy! 
		</p>
		<p>
			A Travel Match Account gives you access to products like Travel Blog, Chat, Trips, and more with a single username and password. 
		</p>
	</div>

	<div class="thumbnail">
		<h3 class="center"> Creating a Strong Password </h3>
		<hr>
		<p>
		 	To keep your account safe, here are a few tips on how to create a strong password:
		 	<li> Use a different password for each of your important accounts, like your email and online banking accounts. Re-using passwords is risky. If someone figures out your password for one account, that person could potentially gain access to your email, address, and even your money.</li> 
		 	<li> Using numbers, symbols and mix of upper and lower case letters in your password makes it harder for someone to guess your password. For example, an eight-character password with numbers, symbols and mixed-case letters is harder to guess because it has 30,000 times as many possible combinations than an eight-character password with only lower case letters.</li>
		 	<li> Create a unique password that's unrelated to your personal information and uses a combination of letters, numbers, and symbols. For example, you can select a random word or phrase and insert letters and numbers into the beginning, middle, and end to make it extra difficult to guess (such as "sPo0kyh@ll0w3En"). Don’t use simple words or phrases like "password" or "letmein," keyboard patterns such as "qwerty" or "qazwsx," or sequential patterns such as "abcd1234" which make your password easier to guess.</li>
		 	<li>Don't leave notes with your passwords to various sites on your computer or desk. People who walk by can easily steal this information and use it to compromise your account. If you decide to save your passwords in a file on your computer, create a unique name for the file so people don't know what's inside. Avoid giving the file an obvious name, such as "my passwords." If you have a difficult time remembering multiple passwords, a trusted password manager may be a good solution. Spend a few minutes checking out the reviews and reputations of these services.</li>
		</p>
	</div>

	<div class="thumbnail">
			<h3 class="center"> Basic Settings </h3>
			<hr>
			<p>
			 	You can change your Travel Match settings or preferences by clicking the home icon in the top right corner of your Travel Match:
			 	<ol>
			 		<li>Open <a href="https://neo4jheroku.herokuapp.com"> Travel Match </a>. </li>
			 		<li> In the top-right, click the gear <span class="glyphicon glyphicon-home"</span>. </li>
			 		<li> Select <strong> Settings </strong>. </li>
			 		<li> After making a change to a setting, click Save at the bottom of the page. </li>
			 	</ol> 
			</p>
	</div>
	<div class="thumbnail">
			<h3 class="center"> Selecting Your Travel Match Picture </h3>
			<hr>
			<p>
				What face would you like to present to the world? You can choose almost any photo as your Travel Match picture, to show up whenever another user rolls over your name in their blog, Contacts, Chat list, or when someone looks at your public Travel Match Profile. By default Travel Match use your Gravatar. A Gravatar is a Globally Recognized Avatar. You upload it and create your profile just once, and then when you participate in any Gravatar-enabled site, your Gravatar image will automatically follow you there. You can change your gravatar here: <a href="https://en.gravatar.com">https://en.gravatar.com</a>. Otherwise you can upload your picture from your computer.
				<ol>
					<li> Click the gear in the top right  <span class="glyphicon glyphicon-home"</span>. </li>
					<li> Select <strong> Settings. </strong> </li>
					<li> From the My picture section, click Select a picture. The Upload a picture window will appear. </li>
					<li> Click Save at the bottom of the page. </li>
				</ol>
				Once you apply your picture, you'll be able to view and change it from your Travel Match settings page, and other users will see your selection when they roll over your name in conversations or in their contact lists. 
			</p>
	</div>
</div>
