<div class="jumbotron text-center">
  	<div class="container">
    	<a href="/" class="lang-logo">
     		<img src="<%= asset_path('lang-logo2.png') %>">
    	</a>

   		<h1>Travel Match</h1>
    	<p>TravelMatch is a social platform for anyone who wants to connect with other people based on their travel interests, to find a companion to go on a trip with, discover exciting holiday destinations, plan a journey, and share travelling memories.</p>

      <% if !logged_in? %>
    		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-default" %>
    		<%= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %>
      <% end %>
	</div>
</div>


<div class="container">
  <div class="center">
    <!--p><strong>Travel Match</strong> is a tool to get started to find new friends online and plan your travel together. It's is a social platform for anyone who wants to connect with other people based on their travel interests, to find a companion to go on a trip with, discover exciting holiday destinations, plan a journey, and share travelling memories.</p-->
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-hand-right"></span>  How Travel Match works</h3>
      <ul>
        <p><span class="glyphicon glyphicon-search"></span>  FIND: Find your match</p>
        <p><span class="glyphicon glyphicon-resize-small"></span> CONNECT: Connect person who is planning to visit destination you desired to visit</p>
        <p><span class="glyphicon glyphicon-envelope"></span>  SEND MESSAGE: Send private message to your match that you are intrested in joining the trip</p>
        <p><span class="glyphicon glyphicon-edit"></span>  PLAN: Plan the trip together</p>
        <p><span class="glyphicon glyphicon-plane"></span>  TRAVEL: Travel to the destination</p>
        <p><span class="glyphicon glyphicon-eye-open"></span>  REVIEW: Write a review about the trip</p>
      </ul>
    </div>
  </div>
  <hr>
  <p> </p>
   <div class="center">
    <strong>Travel Match</strong> includes travel blog, chat, share pictures and album. Join us!.
  </div>
  </div>
</div>


