<div class="jumbotron text-center">
  	<div class="container">
      
      <img src="<%= asset_path('TM_HanziPen_H_white_no_bg_big.png') %>">
      <br>
      <% if !logged_in? %>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-default" %>
        <%= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %>
      <% end %>
      <br>
      
    	<p>Travel Match is a social network for anyone who wants to connect with other travellers, find a companion to go on a trip with, discover exciting holiday destinations, plan a journey, and share travelling memories.</p>

	   </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4><i class="fa fa-plane"></i> FIND Travel Match, your perfect travel partner </h4>
      <h4><i class="fa fa-users"></i> CONNECT with other travellers </h4>
      <h4><i class="fa fa-suitcase"></i> PLAN a trip to your dream destination</h4>
      <h4><i class="fa fa-commenting"></i> CHAT and make travelling arrangements </h4>  
      <h4><i class="fa fa-pencil-square-o"></i> POST your memories on Travel Blog </h4>
    </div>
  </div>
</div>



