<% provide(:title, 'Travel Blog') %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="page-helper">
    <h1>Travel Blog</h1>
  </div>

  <div class="container">
    <%= link_to 'Write a New Post', new_blog_path, class: "btn btn-info text-center" %>
    <br>
        <small><%= will_paginate @blogs %></small>
    <br>
  
    
    <div class="col-md-12">
    <ul>
      <%= render @blogs %>
    </ul>
    </div>

  </div>

    
  </div>

