<% provide(:title, "New Post") %>

<div class="container">
  <br>
  <br>
  <h1><i class="fa fa-pencil-square-o"></i> New Post</h1>

	<div class="row">
      <div class="col-md-6 col-md-offset-3">

		<%= render 'blogs/form' %>

	  </div>
	</div>

</div>