<% provide(:title, 'User Blog') %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="page-helper">
    <h1>User Blog</h1>
  </div>

  <div class="container">
    
    <div class="col-md-12">
    <ul>
      <%= render @blog %>
    </ul>
    </div>

  </div>

    
 </div>