<% provide(:title, 'Who has recently viewed your profile?') %>
<div class="container">
	<h1>Who has recently viewed your profile?</h1>
	<div class="row">
	    <aside class="col-md-2"></aside>        
		<div class="container col-sm-8">
			<%= will_paginate @visitors %>
			<% if @visitors.length > 10 %>
				<br>
				<br>
				<br>
			<% end %>
  			<div class="panel panel-default target">
				<div class="panel-body">
			      	<div class="row">
				        <div class="container">
				            <div class="col-sm-7">
								<ul class="users">
								  	<% if @visitors.any? %>
							  			<%= render @visitors %>
							  		<% else %>
							  			<div align="center">No user viewed your profile. <%= link_to "Introduce yourself on the Travel Blog!", travelblog_path %></div>
							  		<% end %>
								</ul>	
						 	</div>
				        </div>
      				</div>         
    			</div>
			</div>
			<%= will_paginate @visitors %>
		</div>
	</div>
</div>