<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.follows?(@user) %> 
  	<p>Unfollow<p>
    <%= render 'unfollow' %>
  <% else %>
  	<p>Follow<p>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>