<% provide(:title, 'All users') %>
<div class="container">
	<br>
	<br>
	<h1>All users</h1>    

    <div class="row">
	    <aside class="col-md-2">
	    </aside>
	    <div class="col-md-8" >
	    	<% if !@users.any? %>
	    		<div align="center">Sorry, no one is using Travel Match :(</div>
	    	<% else %>
		    	<%= link_to "Find people similar to you now!", default_path %>
				<%= will_paginate @users %>
			
				<br>
				<br>
				<br>

	    		<%= render @users %>
	    		<%= will_paginate @users %>
	  		<% end %>
		</div>
	</div>

</div>

