<% provide(:title, 'Your TravelMatch') %>
<div class="container">
	<h1>Your TravelMatch</h1>
	<%= will_paginate @matches %>
	<ul class="users">
	  <%= render @matches %>
	</ul>	
	<%= will_paginate @matches %>
</div>

