// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.blog p {
	margin: 4px 0;
}

.blog.hover {
	background: #FAFAFA;
}

.blog .admin{
	display: none;
}

.blog.hover .admin {
	display: inline;
}