<footer class="footer">
 <div class="container">
  <small>
    <span class=>© Copyright 2015 <a href="/" title="The Bootstrap Playground">Travel Match by I.Kalashnikova, Y.Lin, I.Michalowska</a> | <a href="/about#privacy">Privacy</a></span>
  </small>
  <nav>
    <ul>
      <% if logged_in? %>
      	<li><%= link_to "About", root_path %></li>
      <% end %>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</div>
</footer>